.s{
    bottom: 10px;
    right: 0px;
    text-align: right;
}
.text-justify{
    text-align: justify;
}

.vh-93{
    height: 93vh;
}
.vh-7{
    height: 7vh;
}
.scroll{
    overflow: auto;
}
.scroll::-webkit-scrollbar{
    display: none;
}